#
# 	Part of kde-service-menu-reimage Version 2.4
# 	Copyright (C) 2018-2019 Giuseppe Benigno <giuseppe.benigno(at)gmail.com>
#
# 	This program is free software: you can redistribute it and/or modify
# 	it under the terms of the GNU General Public License as published by
# 	the Free Software Foundation, either version 3 of the License, or
# 	(at your option) any later version.
#
# 	This program is distributed in the hope that it will be useful,
# 	but WITHOUT ANY WARRANTY; without even the implied warranty of
# 	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# 	GNU General Public License for more details.
#
# 	You should have received a copy of the GNU General Public License
# 	along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

[Desktop Entry]
Actions=proresAuto;prores442proxy;prores442lt;prores442;prores442hq;prores4444;prores4444xq;_SEPARATOR_;dnxhd36;dnxhd100;dnxhd145;dnxhd220;dnxhd444
MimeType=video/*
X-KDE-Priority=TopLevel
Name=ReVideo reencode professionaly service menu
ServiceTypes=KonqPopupMenu/Plugin,video/*,audio/*
TryExec=revideo-kdialog
Type=Service
X-KDE-Submenu=Reencode (pro)
X-KDE-Submenu[fr]=Réencodage (pro)
Terminal=true
TerminalOptions=\s--noclose

################################################################################

[Desktop Action proresAuto]
Exec=revideo-kdialog reencode_pro prores-auto %F
Icon=video-quicktime
Name=Convert to ProRes (Auto)
Name[fr]=Convertir en ProRes (Auto)

[Desktop Action prores442proxy]
Exec=revideo-kdialog reencode_pro prores-0 %F
Icon=video-quicktime
Name=Convert to ProRes442 Proxy
Name[fr]=Convertir en ProRes 442 Proxy

[Desktop Action prores442lt]
Exec=revideo-kdialog reencode_pro prores-1 %F
Icon=video-quicktime
Name=Convert to ProRes442 LT
Name[fr]=Convertir en ProRes 442 LT

[Desktop Action prores442]
Exec=revideo-kdialog reencode_pro prores-2 %F
Icon=video-quicktime
Name=Convert to ProRes442
Name[fr]=Convertir en ProRes 442

[Desktop Action prores442hq]
Exec=revideo-kdialog reencode_pro prores-3 %F
Icon=video-quicktime
Name=Convert to ProRes442 HQ
Name[fr]=Convertir en ProRes 442 HQ

[Desktop Action prores4444]
Exec=revideo-kdialog reencode_pro prores-4 %F
Icon=video-quicktime
Name=Convert to ProRes4444
Name[fr]=Convertir en ProRes 4444

[Desktop Action prores4444xq]
Exec=revideo-kdialog reencode_pro prores-5 %F
Icon=video-quicktime
Name=Convert to ProRes4444 XQ
Name[fr]=Convertir en ProRes 4444 XQ

---------------------------------------------

[Desktop Action dnxhd36]
Exec=revideo-kdialog reencode_pro dnxhd-dnxhr_lb %F
Icon=video-webm
Name=Convert to DNxHD 36
Name[fr]=Convertir en DNxHD 36

[Desktop Action dnxhd100]
Exec=revideo-kdialog reencode_pro dnxhd-dnxhr_sq %F
Icon=video-webm
Name=Convert to DNxHD 100
Name[fr]=Convertir en DNxHD 100

[Desktop Action dnxhd145]
Exec=revideo-kdialog reencode_pro dnxhd-dnxhr_hq %F
Icon=video-webm
Name=Convert to DNxHD 145
Name[fr]=Convertir en DNxHD 145

[Desktop Action dnxhd220]
Exec=revideo-kdialog reencode_pro dnxhd-dnxhr_hqx %F
Icon=video-webm
Name=Convert to DNxHD 220
Name[fr]=Convertir en DNxHD 220

[Desktop Action dnxhd444]
Exec=revideo-kdialog reencode_pro dnxhd-dnxhr_444 %F
Icon=video-webm
Name=Convert to DNxHD 444
Name[fr]=Convertir en DNxHD 444
