#
# 	Part of kde-service-menu-reimage Version 2.4
# 	Copyright (C) 2018-2019 Giuseppe Benigno <giuseppe.benigno(at)gmail.com>
#
# 	This program is free software: you can redistribute it and/or modify
# 	it under the terms of the GNU General Public License as published by
# 	the Free Software Foundation, either version 3 of the License, or
# 	(at your option) any later version.
#
# 	This program is distributed in the hope that it will be useful,
# 	but WITHOUT ANY WARRANTY; without even the implied warranty of
# 	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# 	GNU General Public License for more details.
#
# 	You should have received a copy of the GNU General Public License
# 	along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

[Desktop Entry]
Actions=mkv;mp4;mov;avi;_SEPARATOR_;mxf;mts;m2ts;ts
MimeType=video/*
X-KDE-Priority=TopLevel
Name=ReVideo rewrap service menu
ServiceTypes=KonqPopupMenu/Plugin,video/*
TryExec=revideo-kdialog
Type=Service
X-KDE-Submenu=Rewrap
X-KDE-Submenu[fr]=Réencapsuler

################################################################################

[Desktop Action mkv]
Exec=revideo-kdialog rewrap mkv %F
Icon=video-x-matroska
Name=Rewrap in MKV
Name[fr]=Réencapsuler en MKV

[Desktop Action mp4]
Exec=revideo-kdialog rewrap mp4 %F
Icon=video-mp4
Name=Rewrap in en MP4
Name[fr]=Réencapsuler en MP4

[Desktop Action mov]
Exec=revideo-kdialog rewrap mov %F
Icon=video-quicktime
Name=Rewrap in MOV
Name[fr]=Réencapsuler en MOV

[Desktop Action avi]
Exec=revideo-kdialog rewrap avi %F
Icon=video-x-wmv
Name=Rewrap in AVI
Name[fr]=Réencapsuler en AVI

################################################################################

[Desktop Action mxf]
Exec=revideo-kdialog rewrap mxf %F
Icon=video-webm
Name=Rewrap in MXF
Name[fr]=Réencapsuler en MXF

[Desktop Action mts]
Exec=revideo-kdialog rewrap mts %F
Icon=video-webm
Name=Rewrap in MTS
Name[fr]=Réencapsuler en MTS

[Desktop Action m2ts]
Exec=revideo-kdialog rewrap m2ts %F
Icon=video-webm
Name=Rewrap in M2TS
Name[fr]=Réencapsuler en M2TS

[Desktop Action ts]
Exec=revideo-kdialog rewrap ts %F
Icon=video-webm
Name=Rewrap in TS
Name[fr]=Réencapsuler en TS

